
    <div *ngIf = "dataLoaded == false" class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary center">
                    <h4 class="card-title ">Cars</h4>
                    <p class="card-category">In this table you finde details of the cars </p>
                </div>    
                <div class="card-body">
                    <div class="table" *ngIf = "dataLoaded == true">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>Brand</th>
                                    <th>Color</th>
                                    <th>Description</th>
                                    <th>Model year</th>
                                    <th>Daily price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor =  "let carDetail of carDetails">
                                    <td>{{carDetail.brandName}}</td>
                                    <td>{{carDetail.colorName}}</td>
                                    <td>{{carDetail.carDescription}}</td>
                                    <td>{{carDetail.modelYear}}</td>
                                    <td>{{carDetail.dailyPrice}}</td>
                                    <td>
                                        <button      
                                            routerLink = "/carDetails/car/{{carDetail.carId}}" type="button" class="btn btn-info"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                            </svg>Info
                                        </button>                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
  
        <div *ngIf = "carDetail"  class="d-flex justify-content-evenly col-md-4" >
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <img [src]="getCarImage(carDetail)"  class="img-thumbnail"
                width="250"
                height="250"/>

                <!-- <div class="carousel-item " >
                    <img [src]="getCarImage(carDetail)" *ngFor="let image of carImages;  index as i; first as firstImage "
                    [ngClass]="{ active: firstImage }"  class="d-block w-100" alt="image.imagePath"> 
                </div> -->

                <ul class="list-group">
                    <li class="list-group-item">Brand: {{carDetail.brandName}}</li>
                    <li class="list-group-item">Colors: {{carDetail.colorName}}</li>
                    <li class="list-group-item">Description: {{carDetail.carDescription}}</li>
                    <li class="list-group-item">Daily price: {{carDetail.dailyPrice}}</li>
                </ul>
            </div>                    
        </div>
    </div>

    












