.text-primary tr th{
    color: rgb(113, 166, 204);
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

td{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: rgb(124, 116, 116);
}

.card-body{
    box-shadow: 5px 10px 18px #bbb9d3;
}
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}


.card-header{
    background-color: #316aa4;
    box-shadow: 5px 10px 18px #bbb9d3;
    margin-top: -20px;
}



.card-title, .card-category{
    color: honeydew;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.btn-info {
    color: #316aa4;
    border-color: #316aa4; 
    background-color: white ;
} 

.btn-info:hover{
    color: white;
    background-color: #3d7d94;
}

.btn-danger{
    color: #cf2323;
    border-color: #c52b2b;
    background-color: white ;
}

.btn-danger:hover{
    color: white;
    background-color: #d6343a;
}

.btn{
    margin: 6px;
}

svg{
    margin-right: 7px;
}

img{
    width: 100%;
    border-radius: 7px;
    padding: 1em;
}

.style{
    background-color: #316aa4;
    color: rgb(233, 223, 223);
    margin: 1px;
    border-radius: 6px;

}
