<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-2 shadow-lg p-3 mb-5 bg-body rounded">
      <app-brand></app-brand>
      <p></p>
      <app-color></app-color>
    </div>
    <div class="col-md-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>




<!-- <p><em>Rental informations</em></p>
  <app-rental></app-rental> -->
<!-- 
  <p><em>Customer informations</em></p>
  <app-customer></app-customer>

  <p><em>User informations</em></p>
  <app-user></app-user> -->
</div>
