<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-6">
      <b><em>Brands</em></b>
      <app-brand></app-brand>
    </div>
    <div class="col-md-6">
      <b><em>Colors</em></b>
      <app-color></app-color>    
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <b><em>Cars</em></b>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <b><em>Car details</em></b>
      <app-car-detail></app-car-detail>
    </div>
  </div> -->


<!-- <p><em>Rental informations</em></p>
  <app-rental></app-rental> -->
<!-- 
  <p><em>Customer informations</em></p>
  <app-customer></app-customer>

  <p><em>User informations</em></p>
  <app-user></app-user> -->
</div>
