<div class="container">
  <app-navi></app-navi>

  <p><em>Car informations</em></p>
  <app-car></app-car>

  <p><em>Rental informations</em></p>
  <app-rental></app-rental>
  <div class="row">
    <div class="col-md-6">
      <p><em>Brand informations</em></p>
      <app-brand></app-brand>
    </div>
    <div class="col-md-6">
      <p><em>Color informations</em></p>
      <app-color></app-color>    
    </div>
  </div>



  <p><em>Customer informations</em></p>
  <app-customer></app-customer>

  <p><em>User informations</em></p>
  <app-user></app-user>

  <router-outlet></router-outlet>
</div>
