<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class=" container-fluid d-flex justify-content-between">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
            <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
          </svg>
          <a class="navbar-brand" href="#">Car Rental</a>         
        </div>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink = "/colors" >Colors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink = "/brands">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink = "/rentals" >Rentals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink = "/customers">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink = "/users" >User Profile</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="#" routerLink = "/carImages" >Images</a>
            </li>
          </ul> 
        </div>
      </div>
  </nav>

</div>


