<div class="container">
    <img class="img" src="assets/img/customer.jpg">
    <div class="row">
        <div class="col-md-6 style">
            <div class="card">
                <div class="card-header card-header-primary center">
                  <h4 class="card-title">List of customers</h4>
                </div> 
                  <div class="card-body">
                      <div class="table">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>User</th>
                                    <th>Company name</th>
                                </tr>
                            </thead>
                            <tr *ngFor = "let customer of customers">
                                <td>{{customer.customerId}}</td>
                                <td>{{customer.userId}}</td>
                                <td>{{customer.companyName}}</td>
                            </tr>
                        </table>
                        <button  (click)="addCustomer()"
                            type="button" class="btn btn-info"> 
                            Add Customer
                        </button> 
                      </div>
                  </div>
              </div>
        </div>
        <div class="col-md-6 style" *ngIf = "customerAdd">
            <app-add-customer></app-add-customer>
        </div>
    </div>
</div>

