
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary center">
                <h4 class="card-title ">Cars</h4>
                <p class="card-category">In this table you finde details of the cars </p>
            </div>    
            <div class="card-body">
                <div class="table">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Brand</th>
                                <th>Color</th>
                                <th>Model year</th>
                                <th>Daily price</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            (click) = "setCurrentCar(car)" 
                            *ngFor =  "let car of cars">
                                <td>{{car.brandId}}</td>
                                <td>{{car.colorId}}</td>
                                <td>{{car.modelYear}}</td>
                                <td>{{car.dailyPrice}}</td>
                                <td>{{car.descriptionCar}}</td>
                                <td>
                                    <button type="button" class="btn btn-info"> 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>Info
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <app-add-car></app-add-car>
    </div> 
    
</div>

