<div class="row">
    <div class="col-md-6">
        <ul class="list-group"> 
            <li [class]="getAllBrandClass()" routerLink = "/carDetails">All brands</li>
            <li (click) = "setCurrentBrand(brand)" 
            routerLink = "/carDetails/brand/{{brand.brandId}}"
            *ngFor="let brand of brands"
            [class]="getCurrentBrandClass(brand)">
                {{brand.brandName}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <app-add-brand></app-add-brand>
    </div>
</div>