<div class="container">
    <div class="row">
        <div class="col-md-12 style">
            <div class="card">
                <div class="card-header card-header-primary center">
                  <h4 class="card-title ">List of brands</h4>
                </div> 
                  <div class="card-body">
                    <ul class="list-group"> 
                        <li class="list-group-item" routerLink = "/carDetails/brand/{{brand.brandId}}"
                         *ngFor="let brand of brands">
                        {{brand.brandName}}</li>
                    </ul>
                  </div>
              </div>
              <div class="style">
                <app-add-brand></app-add-brand>
              </div>
        </div>
    </div>
</div>



<!-- <ul class="list-group"> 
    <li [class]="getAllBrandClass()" routerLink = "/carDetails">All brands</li>
    <li (click) = "setCurrentBrand(brand)" 
    routerLink = "/carDetails/brand/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)">
        {{brand.brandName}}</li>
</ul> -->