<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Registration</h5> 
            </div>
            <div class="card-body">
                <form [formGroup] = "userAddForm">                    
                    <div class="mb-3">
                        <label for="firstName"> First name </label>
                        <div class="form-group">
                            <input type="text" id="firstN" 
                            formControlName="firstName" class="form-control" placeholder="ex. Elin"/>
                        </div>
                    </div> 
                    <div class="mb-3">
                        <label for="lastName"> Last name </label>
                        <div class="form-group">
                            <input type="text" id="lastN" 
                            formControlName="lastName" class="form-control" placeholder="ex. Pelin"/>
                        </div>
                    </div>  
                    <div class="mb-3">
                        <label for="email"> Email </label>
                        <div class="form-group">
                            <input type="email" id="emailUser" 
                            formControlName="email" class="form-control" placeholder="ex. elin.pelin@gmail.com"/>
                        </div>
                    </div> 
                    <div class="mb-3">
                        <label for="password"> Password </label>
                        <div class="form-group">
                            <input type="password" id="passwordUser" 
                            formControlName="password" class="form-control" placeholder=" "/>
                        </div>
                    </div>                 
                </form> 
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)= "add()">Add</button>
            </div>
        </div>
    </div>  
</div>